<div class="box">
    <div class="d-flex navContainer align-items-center justify-content-between py-2">
        <div>
            <p class="logo mb-0" style="cursor: pointer;" routerLink="/home">LowIQ</p>
        </div>
        <div class="nav-holder nav-link-item">
            <div>
                <p class="nav-item" routerLink="/home">Home</p>
            </div>
            <div>
                <p class="nav-item" (click)="redirectUser(user?.role == 'creator' ? 'quizset' : '/quizset')">Quizzes</p>
            </div>
            <div>
                <p class="nav-item" routerLink="/rooms">Rooms</p>
            </div>
        </div>
        <div class="nav-link-item position-relative gap-3">
            @if(user){
            <div class="position-relative link" (click)="toggleNotificationPanel()">
                <img class="notification-icon" src="/bell.png">
                <div [class.show]="hasNewNotifications"
                    class="position-absolute rounded-circle end-0 notification-dot top-0"></div>
            </div>
            <div>
                <img class="link profile-image" [src]="user.profilePicture?.link || '/pngegg.png'"
                    (click)="toggleProfilePanel()">
            </div>
            <div [class.showProfile]="profilePanelOpen" class="sidebar-box">
                <div class="position-relative pb-1 pt-3 px-3 sideBoxChild">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-2 link mb-2"
                            (click)="redirectUser('/profile/' + user.username)">
                            <div>
                                <img class="profile-image" style="height: 60px; width: 60px;"
                                    [src]="user.profilePicture?.link || '/pngegg.png'">
                            </div>
                            <div>
                                <p class="f-md mb-0">{{ user.username }}</p>
                                <p class="f-xs fst-italic mb-0 t-gray">{{ user.role | titlecase }}</p>
                            </div>
                        </div>
                        @if(allowAddingAnotherProfile){
                        <div>
                            <button (click)="toggleProfiles()" [class.rotated]="showAllProfiles" type="button"
                                class="btn btn-sm border rounded-circle">
                                <i class="fa-caret-down fa-solid more-profile-btn"></i>
                            </button>
                        </div>
                        }
                    </div>
                    @if(allowAddingAnotherProfile && showAllProfiles){
                    <div class="mb-3 ms-5 ps-3">
                        @if(!anotherUser){
                        <button (click)="redirectCreatorForAddingProfile()" class="btn btn-sm p-n-btn text-start w-100">
                            + add player profile
                        </button>
                        }
                        @else {
                        <div class="border rounded-3">
                            <button (click)="switchProfile()" class="btn text-start w-100">
                                <div class="d-flex align-items-center gap-2">
                                    <img class="another-profile-image profile-image"
                                        [src]="anotherUser.profilePicture?.link  || '/pngegg.png'">
                                    <div class="f-xs">
                                        <span class="t-d-gray">{{ anotherUser.username }}</span>
                                        <span class="d-block f-xxs fst-italic t-gray">{{ user.role === 'creator' ?
                                            'Player' :
                                            'Creator' }}</span>
                                    </div>
                                </div>
                            </button>
                        </div>
                        }
                    </div>
                    }
                    <div>
                        <p class="link sidebar-item" (click)="redirectUser('/profile/' + user.username)">
                            <i class="fa-solid fa-user"></i>
                            &nbsp;&nbsp;Profile
                        </p>
                    </div>
                    @if(user.role === 'creator' || user.role === "admin"){
                    <div>
                        <p class="link sidebar-item" (click)="redirectUser('/' + user.role +'/request-list')">
                            <i class="fa-palette fa-solid"></i>
                            &nbsp;&nbsp;Request List
                        </p>
                    </div>
                    }
                    <div>
                        <p class="link sidebar-item" (click)="redirectUser('/profile')">
                            <i class="fa-pen fa-solid"></i>
                            &nbsp;&nbsp;Edit Profile
                        </p>
                    </div>
                    <hr class="my-2">
                    <div class="link logout-item sidebar-item" (click)="logoutUser()">
                        <i class="fa-arrow-right-from-bracket fa-solid"></i>
                        &nbsp;&nbsp;Logout
                    </div>
                </div>
            </div>
            }
            @else {
            <button class="btn p-n-btn f-sm" routerLink="/login">Login</button>
            <button class="btn p-n-btn f-sm" routerLink="/signup">Signup</button>
            }
        </div>
        <div class="d-none align-items-center gap-3 hamburger-menu">
            @if(user){
            <div class="position-relative link" (click)="toggleNotificationPanel()">
                <img class="notification-icon" src="/bell.png">
                <span [class.show]="hasNewNotifications"
                    class="position-absolute rounded-circle end-0 notification-dot top-0"></span>
            </div>
            }
            <div (click)="toggleSidebar()">
                <img class="menu-icon" src="/menu.png">
            </div>
        </div>
    </div>

    <div [class.showNotification]="notificationPanelOpen" class="d-none fixed notification-panel">
        @for(notification of notifications; track notification._id){
        @if(!$first){
        <hr class="my-0">
        }
        <app-notification-template (clicked)="toggleNotificationPanel()" [notification]="notification" />
        }
        @empty {
        <div class="d-flex justify-content-center">
            <p class="fst-italic mb-0 py-2 t-gray">You have no notifications!</p>
        </div>
        }
        <div #scrollAnchor></div>
        <app-loading-spinner [isFetching]="fetchingNotifications" />
    </div>

    @if(sidebarOpen){
    <div class="sidebar">
        <div class="pb-1 pt-3 px-3 sideBoxChild">
            <div class="justify-content-between hamburger-menu mb-3" (click)="toggleSidebar()">
                <p class="logo mb-0" style="cursor: pointer;" (click)="redirectUser('/home')">LowIQ</p>
                <img class="menu-icon" src="/close.png">
            </div>
            @if(user){
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-2 link mb-2"
                    (click)="redirectUser('/profile/' + user.username)">
                    <div>
                        <img class="profile-image" style="height: 60px; width: 60px;"
                            [src]="user.profilePicture?.link || '/pngegg.png'">
                    </div>
                    <div>
                        <p class="f-2md mb-0">{{ user.username }}</p>
                        <p class="f-sm fst-italic mb-0 t-gray">{{ user.role | titlecase }}</p>
                    </div>
                </div>
                @if(allowAddingAnotherProfile){
                <div>
                    <button (click)="toggleProfiles()" [class.rotated]="showAllProfiles" type="button"
                        class="btn btn-sm border rounded-circle">
                        <i class="fa-caret-down fa-solid more-profile-btn"></i>
                    </button>
                </div>
                }
            </div>
            @if(allowAddingAnotherProfile && showAllProfiles){
            <div class="mb-3 ms-5 ps-3">
                @if(!anotherUser){
                <button (click)="redirectCreatorForAddingProfile()" class="btn btn-sm p-n-btn text-start w-100">
                    + add player profile
                </button>
                }
                @else {
                <div class="border rounded-3">
                    <button (click)="switchProfile()" class="btn text-start w-100">
                        <div class="d-flex align-items-center gap-2">
                            <img class="another-profile-image profile-image"
                                [src]="anotherUser.profilePicture?.link  || '/pngegg.png'">
                            <div class="f-sm">
                                <span class="t-d-gray">{{ anotherUser.username }}</span>
                                <span class="d-block f-xs fst-italic t-gray">{{ user.role === 'creator' ? 'Player' :
                                    'Creator' }}</span>
                            </div>
                        </div>
                    </button>
                </div>
                }
            </div>
            }
            }
            <div>
                <p class="link sidebar-item" (click)="redirectUser('/home')">
                    <i class="fa-home fa-solid"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Home
                </p>
            </div>
            <div>
                <p class="link sidebar-item" (click)="redirectUser(user?.role == 'creator' ? 'quizset' : '/quizset')">
                    <i class="fa-book fa-solid"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Quizzes
                </p>
            </div>
            <div>
                <p class="link sidebar-item" (click)="redirectUser('/rooms')">
                    <i class="fa-solid fa-users-rectangle"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Rooms
                </p>
            </div>
            <hr class="my-2">
            @if(user){
            <div>
                <p class="link sidebar-item" (click)="redirectUser('/profile/' + user.username)">
                    <i class="fa-solid fa-user"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Profile
                </p>
            </div>
            @if(user.role === 'creator' || user.role === 'admin'){
            <div>
                <p class="link sidebar-item" (click)="redirectUser('/' + user.role +'/request-list')">
                    <i class="fa-palette fa-solid"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Request List
                </p>
            </div>
            }
            <div>
                <p class="link sidebar-item" (click)="redirectUser('/profile')">
                    <i class="fa-pen fa-solid"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Edit Profile
                </p>
            </div>
            }
            <!-- <div class="position-relative appearance-parent">
                <p class="link sidebar-item">
                    <i class="fa-circle-half-stroke fa-solid"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Theme
                </p>
                <div class="rounded-3 appearance-box">
                    <div class="rounded-3 b3">
                        <div class="appearance-item link py-2">
                            <i class="fa-solid fa-sun"></i>
                            &nbsp;&nbsp;Light
                        </div>
                        <div class="appearance-item link py-2">
                            <i class="fa-moon fa-solid"></i>
                            &nbsp;&nbsp;Dark
                        </div>
                    </div>
                </div>
            </div> -->
            <hr [class.hide]="!user" class="my-2">
            @if(user){
            <div class="link logout-item sidebar-item" (click)="logoutUser()">
                <i class="fa-arrow-right-from-bracket fa-solid"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;Logout
            </div>
            }
            @else {
            <div class="d-flex p-4 position-absolute bottom-0 end-0 gap-2">
                <button class="btn p-n-btn f-md" (click)="redirectUser('/login')">Login</button>
                <button class="btn p-n-btn f-md" (click)="redirectUser('/signup')">Signup</button>
            </div>
            }
        </div>
    </div>
    }
</div>