i.fa-check {
  color: rgb(6, 151, 6);
}

.icon-holder {
  height: 100%;
}

.quiz-title {
  cursor: pointer;
  margin-bottom: 0px;
}

.quiz-title:hover {
  color: #0062ff;
}

.quiz-item {
  display: flex;
  padding: 15px 0px;
}

.col-status{
  min-width: 50px;    
}

.col-difficulty{
  max-width: 120px;
  width: 100%;
}

.col-title{
  max-width: 700px;
}