<div class="rounded-3 f-sm quiz-item" [ngClass]="{'b-secondary':(index() % 2 == 0)}">
    @if(user){
    <div class="col-status">
        @if((user.role === 'player' && quiz().isAttempted) || (user.role === 'creator' && quiz().quizStatus ===
        'accepted')){
        <div class="d-flex align-items-center justify-content-center icon-holder">
            <i class="fa-check fa-solid ps-2 ps-sm-0"></i>
        </div>
        }
    </div>
    }
    <div class="col-title" [class.ms-3]="!user">
        <p class="link mb-0 quiz-title t-d-gray" [routerLink]="'/quiz/' + quiz()._id + '/details'">{{ quiz().title }}
        </p>
    </div>
    <div class="col-difficulty">
        <p class="mb-0 ps-3" [ngClass]="{
            'difficulty-easy': quiz().difficulty ==='easy',
            'difficulty-medium': quiz().difficulty ==='medium',
            'difficulty-hard': quiz().difficulty ==='hard',
        }">{{ quiz().difficulty | titlecase }}</p>
    </div>
</div>