<div class="iContainer my-5">
    @if(!loaded){
    <div class="loader-position">
        <div class="loader"></div>
    </div>
    } @else{ @if(userNotFound){
    <div class="d-flex flex-column align-items-center justify-content-center data-not-found t-gray">
        <i class="fa-face-frown fa-regular"></i>
        <p>user not found</p>
    </div>
    } @else{
    <div class="d-flex dashboard-holder gap-4">
        <!-- left-size box -->
        <div class="p-3 rounded-3 b3 box-1">
            <!-- Userdata box -->
            <div class="d-flex flex-column flex-sm-row gap-0 gap-sm-2 mb-3 userdata-box">
                <div>
                    <img class="rounded-3 mb-1 mb-sm-4 profile-image"
                        [src]="profileUser.user.profilePicture?.link || '/pngegg.png'" />
                </div>
                <div>
                    <div>
                        <p class="f-sm mb-0">
                            {{ profileUser.user.name ?? profileUser.user.username }}
                        </p>
                        <p class="text-dark-emphasis f-xs mb-2 mb-sm-3">
                            &#64;{{ profileUser.user.username }}
                        </p>
                    </div>
                    <!-- <div>
                        <p class="f-sm mb-0 t-gray">
                            Rank&nbsp;
                            <span class="f-md fw-lbold">
                                {{ rank === 0 ? "NA" : rank }}
                            </span>
                        </p>
                    </div> -->
                </div>
            </div>
            @if(user && user.userId === profileUser. user.userId){
            <div>
                <button class="btn p-n-btn w-100 f-sm" type="button" routerLink="/profile">
                    Edit Profile
                </button>
            </div>
            }
        </div>
        <div class="d-flex flex-column w-100 box-2 gap-4">
            @if(profileUser.user.role === 'player'){
            <div class="p-3 rounded-3 b3 box-2-1">
                <p class="f-md t-gray">Badges</p>
                <div (click)="$event.stopPropagation()" class="d-flex badges-holder align-items-center gap-4 gap-sm-5"
                    [ngClass]="{
            'justify-content-between': profileUser. user.userId === user?.userId
          }">
                    @for(achievement of achievementsToDisplay; track
                    achievement._id){
                    <div class="text-center" [class.locked]="!achievement.isUnlocked">
                        <img class="badge-icon link mb-1" (click)="toggleAchievement(achievement._id)" [src]="
                achievement.isUnlocked
                  ? achievement.iconUrl
                  : achievement.lockedIconUrl
              " />
                        <p class="f-xxs">{{ achievement.title | titlecase }}</p>
                    </div>
                    } @empty {
                    <p class="text-center w-100 f-sm fst-italic t-gray">
                        No Badges collected yet!
                    </p>
                    } @if(achievementsToDisplay.length < achievements.length){ <div (click)="toggleAllAchievementBox()"
                        class="text-center see-more t-gray">
                        <i
                            class="btn border border-secondary-subtle rounded-circle fa-caret-down fa-solid mb-1 py-2 t-gray"></i>
                        <p class="f-xxs">see more</p>
                </div>
                }
            </div>
        </div>
        }
        <div class="p-3 rounded-3 b3 box-2-2">
            <p class="f-md mb-0 mb-md-4 t-gray">
                {{ profileUser.user!.role === "player" ? "Progress" : "Publishments" }}
            </p>
            <div class="d-flex user-progress" [ngClass]="getProgressBoxClass()">
                <div class="d-flex gap-2 progress-box">
                    <div
                        class="d-flex flex-column align-items-center justify-content-center rounded-3 w-100 b3 link progress-attempted t-d-gray">
                        <p class="m-0 p-0">
                            @if(profileUser.user!.role === 'creator'){
                            <span class="f-3md">{{ totalPublished }}</span>
                            } @else {
                            <span class="f-3md">{{ totalAttempted }}</span>
                            <span>{{'/' + (quizStats.easy + quizStats.medium + quizStats.hard) }}</span>
                            }
                        </p>
                        <p>
                            <span class="f-sm">
                                @if(profileUser.user!.role === 'creator'){
                                <p>Quiz Created</p>
                                } @else {
                                <i class="difficulty-easy fa-check fa-lg fa-solid"></i>&nbsp;Attempted }
                            </span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between f-xs gap-2 progress-difficuty-holder">
                        <div level="easy"
                            class="d-flex align-items-center h-100 justify-content-center rounded-3 b3 link progress-difficuty t-d-gray">
                            <p class="difficulty-easy">Easy</p>
                            @if(profileUser.user!.role === 'creator'){
                            <p>
                                {{ totalEasyCreated }}
                            </p>
                            } @else {
                            <p class="mb-0">
                                {{totalEasyAttempted + '/' + quizStats.easy}}
                            </p>
                            }
                        </div>
                        <div level="medium"
                            class="d-flex align-items-center h-100 justify-content-center rounded-3 b3 link progress-difficuty t-d-gray">
                            <p class="difficulty-medium">Medium</p>
                            @if(profileUser.user!.role === 'creator'){
                            <p>
                                {{totalMediumCreated}}
                            </p>
                            } @else {
                            <p class="mb-0">
                                {{totalMediumAttempted + '/' + quizStats.medium}}
                            </p>
                            }
                        </div>
                        <div level="hard"
                            class="d-flex align-items-center h-100 justify-content-center rounded-3 b3 link progress-difficuty t-d-gray">
                            <p class="difficulty-hard">Hard</p>
                            @if(profileUser.user!.role === 'creator'){
                            <p>
                                {{totalHardCreated}}
                            </p>
                            } @else {
                            <p class="mb-0">
                                {{totalHardAttempted + '/' + quizStats.hard}}
                            </p>
                            }
                        </div>
                    </div>
                </div>
                @if(profileUser.user.role === 'player' || profileUser.user.userId === user?.userId){
                <div class="border border-light-subtle partition"></div>
                <div class="d-flex position-relative w-auto gap-2 mx-auto piechart progress-box">
                    <div class="position-relative w-100 chart">
                        <ngx-charts-pie-chart class="text-start" [results]="data" [labels]="showLabels"
                            [doughnut]="true" [animations]="true" [customColors]="customColors">
                        </ngx-charts-pie-chart>
                        <div class="position-absolute text-center acceptance-ratio start-50 top-50 translate-middle">
                            @if(showChart){ @if(profileUser.user!.role != 'creator'){
                            <p class="mb-0 t-gray">
                                {{ acceptanceRate == -1 ? "NA" : acceptanceRate + "%" }}
                            </p>
                            }
                            <p class="text-nowrap f-xs mb-0" [ngClass]="'difficulty-' + chartDifficultyType">
                                {{ chartDifficultyType | titlecase }}
                            </p>

                            } @else if(profileUser.user.role === 'player' || !showChart){
                            <div class="no-data">
                                <p class="text-nowrap f-sm fst-italic mb-0 t-gray">
                                    No quiz
                                    {{
                                    profileUser.user!.role === "player" ? "attempted" : "created"
                                    }}
                                    yet!
                                </p>
                                @if(user && user.userId === profileUser. user.userId){
                                <button (click)="redirectUser()" class="btn btn-sm t-blue">
                                    {{ user.role === "player" ? "Explore" : "Create" }}
                                </button>
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="p-3 rounded-3 b3 box-2-3">
            <p class="f-md mb-4 t-gray">
                Recent
                {{ profileUser.user!.role === "player" ? "Submissions" : "Publishments" }}
            </p>
            <div class="table-container">
                <div class="quiz-table">
                    @for(quiz of profileUser.quizzes; track quiz._id){
                    <app-quiz-template [quiz]="quiz" [role]="profileUser.user!.role" [index]="$index" />
                    } @empty {
                    <p class="text-center f-sm fst-italic t-gray">
                        No
                        {{
                        profileUser.user!.role === "player" ? "Submissions" : "Publishments"
                        }}
                        made yet!
                    </p>
                    }
                </div>
            </div>
            <app-pagination [currentPage]="currentFilter.page" [pageCount]="pageCount"
                (pageChange)="fetchQuizzes($event)" />
        </div>
    </div>
</div>
} }

<div [class.show]="showAllAchievementBox"
    class="d-flex d-none align-items-center h-100 justify-content-center position-fixed w-100 achievement-wall backdrop start-0 top-0">
    <div (click)="$event.stopPropagation()" class="bg-light p-4 rounded-3 text-center b3 mx-4 overflow-hidden">
        <div class="position-relative">
            <p class="d-inline-block f-md mx-auto">Badges Wall</p>
            <span (click)="toggleAllAchievementBox()" class="position-absolute end-0 link top-0"><i
                    class="fa-lg fa-solid fa-xmark"></i></span>
        </div>
        <div>
            <div class="d-flex align-items-center all-badges-holder gap-5 overflow-auto">
                @for(achievement of achievements; track achievement._id){
                <div class="text-center" [class.locked]="!achievement.isUnlocked">
                    <img class="badge-icon link mb-1" (click)="toggleAchievement(achievement._id)" [src]="
                achievement.isUnlocked
                  ? achievement.iconUrl
                  : achievement.lockedIconUrl
              " />
                    <p class="f-xxs">{{ achievement.title | titlecase }}</p>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@if(activeAchievement){
<!-- Backdrop and Achievement Box -->
<div class="d-flex align-items-center h-100 justify-content-center position-fixed w-100 backdrop start-0 top-0">
    <div (click)="$event.stopPropagation()" class="bg-light p-4 rounded-3 text-center achievement-box b3">
        <div [class.locked]="!activeAchievement.isUnlocked">
            <img class="achievement-badge" [src]="
            activeAchievement.isUnlocked
              ? activeAchievement.iconUrl
              : activeAchievement.lockedIconUrl
          " />
        </div>
        <div class="achievement-content">
            <p class="d-inline-block f-md fw-lbold mx-0 my-1 t-golden">
                {{ activeAchievement.title | titlecase }}
            </p>
            @if(user?.userId !== profileUser. user.userId){
            <p class="f-sm mx-0 my-1 t-gray">
                {{ activeAchievement.secondPersonDescription }}
            </p>
            } @else {
            <p class="f-sm mx-0 my-1 t-gray">
                {{
                activeAchievement.isUnlocked
                ? activeAchievement.description
                : activeAchievement.lockedDescription
                }}
            </p>
            }
        </div>
        <button class="border-0 rounded-2 cancel-btn f-sm link mt-3 px-4 py-2" (click)="$event.stopPropagation()"
            (click)="toggleAchievement()">
            Close
        </button>
    </div>
</div>
}
</div>