<div class="iContainer my-5">
    @if(!loaded){
    <div class="loader-position">
        <div class="loader"></div>
    </div>
    } @else{ @if(userNotFound){
    <div class="d-flex flex-column justify-content-center align-items-center data-not-found t-gray">
        <i class="fa-regular fa-face-frown"></i>
        <p>user not found</p>
    </div>
    } @else{
    <div class="dashboard-holder d-flex gap-4">
        <!-- left-size box -->
        <div class="box-1 p-3 rounded-3 b3">
            <!-- Userdata box -->
            <div class="userdata-box flex-column gap-0 flex-sm-row d-flex gap-sm-2 mb-3">
                <div>
                    <img class="profile-image rounded-3 mb-sm-4 mb-1"
                        [src]="profileUser.user.profilePicture?.link || '/pngegg.png'" />
                </div>
                <div>
                    <div>
                        <p class="f-sm mb-0">
                            {{ profileUser.user.name ?? profileUser.user.username }}
                        </p>
                        <p class="text-dark-emphasis mb-2 mb-sm-3 f-xs">
                            &#64;{{ profileUser.user.username }}
                        </p>
                    </div>
                    <div>
                        <p class="f-sm mb-0 t-gray">
                            Rank&nbsp;
                            <span class="fw-lbold f-md">
                                {{ rank === 0 ? "NA" : rank }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            @if(user && user.userId === profileUser. user.userId){
            <div>
                <button class="btn w-100 p-n-btn f-sm" type="button" routerLink="/profile">
                    Edit Profile
                </button>
            </div>
            }
        </div>
        <div class="box-2 w-100 d-flex flex-column gap-4">
            @if(profileUser.user.role === 'player'){
            <div class="box-2-1 p-3 rounded-3 b3">
                <p class="f-md t-gray">Badges</p>
                <div (click)="$event.stopPropagation()" class="badges-holder d-flex align-items-center gap-sm-5 gap-4"
                    [ngClass]="{
            'justify-content-between': profileUser. user.userId === user?.userId
          }">
                    @for(achievement of achievementsToDisplay; track
                    achievement._id){
                    <div class="text-center" [class.locked]="!achievement.isUnlocked">
                        <img class="badge-icon mb-1 link" (click)="toggleAchievement(achievement._id)" [src]="
                achievement.isUnlocked
                  ? achievement.iconUrl
                  : achievement.lockedIconUrl
              " />
                        <p class="f-xxs">{{ achievement.title | titlecase }}</p>
                    </div>
                    } @empty {
                    <p class="w-100 text-center fst-italic t-gray f-sm">
                        No Badges collected yet!
                    </p>
                    } @if(achievementsToDisplay.length < achievements.length){ <div (click)="toggleAllAchievementBox()"
                        class="see-more t-gray text-center">
                        <i
                            class="fa-solid fa-caret-down border border-secondary-subtle btn t-gray rounded-circle mb-1 py-2"></i>
                        <p class="f-xxs">see more</p>
                </div>
                }
            </div>
        </div>
        }
        <div class="box-2-2 p-3 rounded-3 b3">
            <p class="f-md t-gray mb-0 mb-md-4">
                {{ profileUser.user!.role === "player" ? "Progress" : "Publishments" }}
            </p>
            <div class="user-progress d-flex" [ngClass]="getProgressBoxClass()">
                <div class="progress-box d-flex gap-2">
                    <div
                        class="t-d-gray progress-attempted w-100 link rounded-3 d-flex flex-column align-items-center justify-content-center b3">
                        <p class="p-0 m-0">
                            @if(profileUser.user!.role === 'creator'){
                            <span class="f-3md">{{ totalPublished }}</span>
                            } @else {
                            <span class="f-3md">{{ totalAttempted }}</span>
                            <span>{{'/' + (quizStats.easy + quizStats.medium + quizStats.hard) }}</span>
                            }
                        </p>
                        <p>
                            <span class="f-sm">
                                @if(profileUser.user!.role === 'creator'){
                                <p>Quiz Created</p>
                                } @else {
                                <i class="fa-solid fa-check fa-lg difficulty-easy"></i>&nbsp;Attempted }
                            </span>
                        </p>
                    </div>
                    <div class="progress-difficuty-holder d-flex gap-2 justify-content-between f-xs">
                        <div level="easy"
                            class="progress-difficuty link rounded-3 d-flex align-items-center justify-content-center h-100 t-d-gray b3">
                            <p class="difficulty-easy">Easy</p>
                            @if(profileUser.user!.role === 'creator'){
                            <p>
                                {{ totalEasyCreated }}
                            </p>
                            } @else {
                            <p class="mb-0">
                                {{totalEasyAttempted + '/' + quizStats.easy}}
                            </p>
                            }
                        </div>
                        <div level="medium"
                            class="progress-difficuty link rounded-3 d-flex align-items-center justify-content-center h-100 t-d-gray b3">
                            <p class="difficulty-medium">Medium</p>
                            @if(profileUser.user!.role === 'creator'){
                            <p>
                                {{totalMediumCreated}}
                            </p>
                            } @else {
                            <p class="mb-0">
                                {{totalMediumAttempted + '/' + quizStats.medium}}
                            </p>
                            }
                        </div>
                        <div level="hard"
                            class="progress-difficuty link rounded-3 d-flex align-items-center justify-content-center h-100 t-d-gray b3">
                            <p class="difficulty-hard">Hard</p>
                            @if(profileUser.user!.role === 'creator'){
                            <p>
                                {{totalHardCreated}}
                            </p>
                            } @else {
                            <p class="mb-0">
                                {{totalHardAttempted + '/' + quizStats.hard}}
                            </p>
                            }
                        </div>
                    </div>
                </div>
                @if(profileUser.user.role === 'player' || profileUser.user.userId === user?.userId){
                <div class="partition border border-light-subtle"></div>
                <div class="progress-box d-flex gap-2 piechart mx-auto position-relative w-auto">
                    <div class="chart w-100 position-relative">
                        <ngx-charts-pie-chart class="text-start" [results]="data" [labels]="showLabels"
                            [doughnut]="true" [animations]="true" [customColors]="customColors">
                        </ngx-charts-pie-chart>
                        <div class="acceptance-ratio position-absolute top-50 start-50 translate-middle text-center">
                            @if(showChart){ @if(profileUser.user!.role != 'creator'){
                            <p class="mb-0 t-gray">
                                {{ acceptanceRate == -1 ? "NA" : acceptanceRate + "%" }}
                            </p>
                            }
                            <p class="mb-0 f-xs text-nowrap" [ngClass]="'difficulty-' + chartDifficultyType">
                                {{ chartDifficultyType | titlecase }}
                            </p>

                            } @else if(profileUser.user.role === 'player' || !showChart){
                            <div class="no-data">
                                <p class="t-gray f-sm fst-italic mb-0 text-nowrap">
                                    No quiz
                                    {{
                                    profileUser.user!.role === "player" ? "attempted" : "created"
                                    }}
                                    yet!
                                </p>
                                @if(user && user.userId === profileUser. user.userId){
                                <button (click)="redirectUser()" class="btn btn-sm t-blue">
                                    {{ user.role === "player" ? "Explore" : "Create" }}
                                </button>
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="box-2-3 p-3 rounded-3 b3">
            <p class="f-md t-gray mb-4">
                Recent
                {{ profileUser.user!.role === "player" ? "Submissions" : "Publishments" }}
            </p>
            <div class="table-container">
                <div class="quiz-table">
                    @for(quiz of profileUser.quizzes; track quiz._id){
                    <app-quiz-template [quiz]="quiz" [role]="profileUser.user!.role" [index]="$index" />
                    } @empty {
                    <p class="text-center f-sm fst-italic t-gray">
                        No
                        {{
                        profileUser.user!.role === "player" ? "Submissions" : "Publishments"
                        }}
                        made yet!
                    </p>
                    }
                </div>
            </div>
            <app-pagination [currentPage]="currentFilter.page" [pageCount]="pageCount"
                (pageChange)="fetchQuizzes($event)" />
        </div>
    </div>
</div>
} }

<div [class.show]="showAllAchievementBox"
    class="backdrop achievement-wall align-items-center justify-content-center d-none position-fixed top-0 start-0 d-flex align-items-center justify-content-center w-100 h-100">
    <div (click)="$event.stopPropagation()" class="bg-light overflow-hidden rounded-3 p-4 text-center b3 mx-4">
        <div class="position-relative">
            <p class="mx-auto d-inline-block f-md">Badges Wall</p>
            <span (click)="toggleAllAchievementBox()" class="link position-absolute top-0 end-0"><i
                    class="fa-solid fa-xmark fa-lg"></i></span>
        </div>
        <div>
            <div class="all-badges-holder overflow-auto d-flex gap-5 align-items-center">
                @for(achievement of achievements; track achievement._id){
                <div class="text-center" [class.locked]="!achievement.isUnlocked">
                    <img class="badge-icon mb-1 link" (click)="toggleAchievement(achievement._id)" [src]="
                achievement.isUnlocked
                  ? achievement.iconUrl
                  : achievement.lockedIconUrl
              " />
                    <p class="f-xxs">{{ achievement.title | titlecase }}</p>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@if(activeAchievement){
<!-- Backdrop and Achievement Box -->
<div class="backdrop position-fixed top-0 start-0 d-flex align-items-center justify-content-center w-100 h-100">
    <div (click)="$event.stopPropagation()" class="achievement-box bg-light rounded-3 p-4 text-center b3">
        <div [class.locked]="!activeAchievement.isUnlocked">
            <img class="achievement-badge" [src]="
            activeAchievement.isUnlocked
              ? activeAchievement.iconUrl
              : activeAchievement.lockedIconUrl
          " />
        </div>
        <div class="achievement-content">
            <p class="t-golden f-md fw-lbold d-inline-block my-1 mx-0">
                {{ activeAchievement.title | titlecase }}
            </p>
            @if(user?.userId !== profileUser. user.userId){
            <p class="t-gray f-sm my-1 mx-0">
                {{ activeAchievement.secondPersonDescription }}
            </p>
            } @else {
            <p class="t-gray f-sm my-1 mx-0">
                {{
                activeAchievement.isUnlocked
                ? activeAchievement.description
                : activeAchievement.lockedDescription
                }}
            </p>
            }
        </div>
        <button class="cancel-btn link f-sm mt-3 py-2 px-4 border-0 rounded-2" (click)="$event.stopPropagation()"
            (click)="toggleAchievement()">
            Close
        </button>
    </div>
</div>
}
</div>