.profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    image-rendering: auto;
    overflow: hidden;
}

.new-comment-box {
    width: 100%;
    padding: 4px 8px;
}

.new-comment-box textarea {
    transform: translateY(2px);
}

.more-child {
    position: absolute;
    bottom: 14px;
    left: 18px;
    display: flex;
    align-items: end;
    gap: 3px;
}

.more-parent {
    position: relative;
}

.dropdown-item {
    color: #6B7280;
    font-weight: 500;
    padding: 4px 6px;
}

.more-child-parent {
    position: relative;
    background-color: white;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.more-child-child {
    opacity: 0;
    display: none;
    bottom: 0px;
    left: calc(100% + 5px);
    background-color: white;
    transition: 0.1s opacity linear;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.more-child-child.show {
    display: block;
    opacity: 1;
}

@media(hover:hover) {
    .dropdown-item:hover {
        color: #333333;
        cursor: pointer;
        background-color: #ededed;
        border-radius: 6px;
    }

    .more-opt {
        opacity: 0;
        transition: 0.2s opacity linear;
    }

    .comment-item:hover .more-opt {
        opacity: 1;
    }
}