<div class="container f-sm mt-2">
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">

        <div class="d-flex justify-content-between f-md link mb-2" (click)="toggleQuizMeta()">
            <p class="mb-0">Quiz Details</p>
            <span [class.rotated]="!hideQuizMeta">
                <i class="fa-angle-down fa-lg fa-solid"></i>
            </span>
        </div>
        <hr class="mt-0">
        <!-- quiz-details -->
        <div class="quiz-meta" [class.hide-meta]="hideQuizMeta">
            <div class="mb-3">
                <div class="form-floating">
                    <input (blur)="invalidQuizTitle()" class="form-control"
                        [ngClass]="{'is-invalid': titleErrorMessage}" type="text" formControlName="title"
                        placeholder="" />
                    <label class="form-label">
                        Quiz Title
                    </label>
                </div>
                @if(titleErrorMessage){
                <div class="position-relative">
                    <p class="error-msg f-xs mb-0">{{ titleErrorMessage }}</p>
                </div>
                }
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <textarea #descriptionField (blur)="invalidQuizDescription()" class="form-control description-field"
                        [ngClass]="{'is-invalid': descriptionErrorMessage}" formControlName="description"
                        placeholder=""></textarea>
                    <label class="form-label">
                        Description
                    </label>
                    @if(descriptionErrorMessage){
                    <div class="position-relative">
                        <p class="error-msg f-xs mb-0">{{ descriptionErrorMessage }}</p>
                    </div>
                    }
                </div>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <textarea class="form-control Note" formControlName="note"
                        placeholder="any sidenote for admin"></textarea>
                    <label class="form-label">
                        Note for admin
                    </label>
                </div>
            </div>
            <div class="d-flex flex-wrap gap-3 my-3">
                <div class="position-relative f-sm">
                    <div>
                        <button class="btn form-control f-sm filter-btn" type="button"
                            (click)="!quizId() && toggleRotation(1)" [ngClass]="{'is-invalid': categoryErrorMessage}">
                            {{ currectCategory | titlecase }}&nbsp;
                            @if(!quizId()){
                            <span [class.rotated]="isRotated[1]">
                                <i class="fa-angle-down fa-solid"></i>
                            </span>
                            }
                        </button>
                    </div>
                    <div class="p-2 accordion-dropdown" [class.show]="!disableFields && isRotated[1]">
                        <div class="d-flex flex-column dropdown-box gap-1">
                            @if(showNewCategoryField){
                            <div class="">
                                <input #newCategoryValue type="text" class="w-100 new-category t-blue"
                                    placeholder="+ New category" />
                                <div class="mt-1">
                                    <button type="button" (click)="addNewCategory(newCategoryValue.value)"
                                        class="btn btn-sm p-n-btn rounded-3 w-100 f-sm">add</button>
                                </div>
                            </div>
                            }
                            @for(category of categories; track $index){
                            <div class="d-flex justify-content-between gap-2">
                                <span (click)="updateFilter('category',category._id)"
                                    class="p-1 category-dropdown-item link"
                                    [ngClass]="{'t-blue':qf['category'].value === category._id}">{{
                                    category.title.split('-').join(' ') | titlecase
                                    }}</span>
                                @if(category.creatorId === 'new'){
                                <button type="button" class="btn btn-sm" (click)="editNewCategory(category._id)">
                                    <i class="fa-pen fa-sm fa-solid t-blue"></i>
                                </button>
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="position-relative f-sm">
                    <div>
                        <button class="btn form-control f-sm filter-btn" type="button"
                            (click)="!quizId() && toggleRotation(0)" [ngClass]="{'is-invalid': difficultyErrorMessage}"
                            [ngClass]="'difficulty-'+quizForm.controls['difficulty'].value">
                            {{ quizForm.controls['difficulty'].value| titlecase }}&nbsp;
                            @if(!quizId()){
                            <span [class.rotated]="isRotated[0]">
                                <i class="fa-angle-down fa-solid"></i>
                            </span>
                            }
                        </button>
                    </div>
                    <div class="p-2 accordion-dropdown" [class.show]="isRotated[0]">
                        <div class="d-flex flex-column dropdown-box gap-1">
                            <span (click)="updateFilter('difficulty','easy')"
                                class="p-1 difficulty-easy difficulty-item">Easy</span>
                            <span (click)="updateFilter('difficulty','medium')"
                                class="p-1 difficulty-item difficulty-medium">Medium</span>
                            <span (click)="updateFilter('difficulty','hard')"
                                class="p-1 difficulty-hard difficulty-item">Hard</span>
                        </div>
                    </div>
                </div>
                @if(!disableFields){
                <div>
                    <button (click)="toggleGeminiPromt()" class="btn p-n-btn" type="button">Use AI
                        <i class="fa-regular fa-sun"></i>
                    </button>
                </div>
                }
            </div>
        </div>

        @if(showGeminiPrompt){
        <div>
            <textarea #geminiQuizDescription class="form-control w-100 description-field"
                placeholder="Enter topic for quiz"></textarea>
            <span class="text-danger f-xs mb-2">*AI can make mistake, make sure you recheck the quiz details</span>
            <div class="d-flex justify-content-between align-items-end">
                <div class="d-flex flex-wrap text-nowrap gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <span class="t-gray">Questions count: </span>
                        <input class="form-control" #geminiNumOfQuestion type="number" value="10" min="1" max="10" />
                    </div>
                    <div class="position-relative f-sm">
                        <div>
                            <select #difficulty class="btn text-start form-control f-sm filter-btn"
                                [ngClass]="'difficulty-' + difficulty.value">
                                <option disabled selected>Difficulty</option>
                                <option value="easy" class="difficulty-easy">Easy</option>
                                <option value="medium" class="difficulty-medium">Medium</option>
                                <option value="hard" class="difficulty-hard">Hard</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn difficulty-easy-bg ms-2" type="button"
                    (click)="generateGeminiQuiz(geminiQuizDescription.value, +geminiNumOfQuestion.value, difficulty.value)">
                    <span [class.submitLoader]="quizGenerationInProcess">
                        {{ quizGenerationInProcess ? '' : 'Generate' }}
                    </span>
                </button>
            </div>
        </div>
        }


        <div class="d-flex justify-content-between f-md mb-2 mt-4">
            <p class="mb-0">Question Details</p>
            @if(!disableFields){
            <span (click)="addQuestion()" class="link new-btn">
                <i class="fa-plus fa-sm fa-solid me-1"></i>
                <span>New</span>
            </span>
            }
        </div>
        <hr class="mt-0">
        <!-- question-details -->
        <div>
            <div class="position-relative mb-4">
                @if(activeQuestionIndex() !== null){
                @if(activeQuestionIndex()! > 0){
                <div class="position-absolute link start-0 top-0" (click)="swipeQuestion(-1)">
                    <i class="fa-caret-left fa-solid fa-xl mt-4 pt-1 t-gray"></i>
                </div>
                }
                <app-quiz-template [highLightError]="highLightError" [questionForm]="getQuestion()"
                    [$index]="activeQuestionIndex()!" (deleteChild)="removeChild($event)" />
                @if(questions.length > activeQuestionIndex()! + 1){
                <div class="position-absolute end-0 link top-0" (click)="swipeQuestion(+1)">
                    <i class="fa-caret-right fa-solid fa-xl mt-4 pt-1 t-gray"></i>
                </div>
                }
                }
            </div>
        </div>



        <div class="d-flex justify-content-end gap-2 my-4">
            <button type="submit" class="btn rounded-3 text-center f-sm mb-5 option-number submit-btn">
                <span [class.submitLoader]="formSubmissionInProcess">
                    {{ formSubmissionInProcess ? '' : quizId() ? 'Update Quiz' : 'Add Quiz' }}
                </span>
            </button>
        </div>
    </form>
</div>