@if(!loaded()){
<div class="loader-position">
    <div class="loader"></div>
</div>
}
@else {
<app-header [quizData]="quiz!" [result]="true" [roomId]="roomId" />

<div class="container mt-2 position-relative">

    <div class="position-relative">
        <p class="error-holder" [class.show]="serverError">
            <span class="error-icon">i</span>
            {{serverError}}
        </p>
    </div>

    <div>

        <!-- Question-Set -->
        <div class="my-4">
            <!-- question-box -->
            <div class="mb-3">
                <div>
                    <div class="f-md d-flex flex-column">
                        <div>
                            <span>{{ (questionIndex() + 1) + '. ' + currentQuestionObject.question }}</span>
                            <span class="t-gray text-nowrap fst-italic f-xs">
                                {{ '(' + currentQuestionObject.point + ' Point)' }}
                            </span>
                        </div>
                        <span class="text-center">
                            @if(currentQuestionObject.questionImage){
                            <img class="question-media-image" [src]="currentQuestionObject.questionImage">
                            }
                        </span>
                    </div>
                </div>
            </div>

            <!-- option-box -->
            <div>
                <div>
                    <div>
                        @for(option of currentQuestionObject.options; track option._id){
                        <div class="b3 d-flex align-items-center rounded-5 p-2 mb-md-3 mb-2">
                            <i [ngClass]="getOptionClass(option._id, $index)"
                                class="icon-wrapper-large fa-solid rounded-circle p-2 me-2"></i>
                            <span class="f-sm text-start ps-2">{{ option.option }}</span>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>


        <!-- Question Navigator -->
        <div class="mb-5">
            <div>
                <div class="d-flex gap-2 justify-content-center">
                    @if(questionIndex() != 0){
                    <i (click)="previousQuestion()"
                        class="fa-solid fa-arrow-left link navigator rounded-circle p-2"></i>
                    }
                    @if(questionIndex() != (quiz!.questionCount - 1)){
                    <i (click)="nextQuestion()" class="fa-solid fa-arrow-right link navigator rounded-circle p-2"></i>
                    }
                </div>
            </div>
        </div>

        <!-- Result Data -->
        <div class="position-fixed result-data w-100 bottom-0 start-0">
            <div class="mx-auto">
                <div class="position-relative">
                    <div class="d-flex justify-content-between">
                        <div class="f-md t-gray text-center w-100 b3 px-3 py-2">
                            <span class="">Score </span>
                            <span class="fw-bold">{{quiz?.score + ' / ' + quiz?.totalPoints}}</span>
                        </div>
                        <div class="f-md text-center  w-100 b3 px-3 py-2">
                            <span class="t-gray">Rank <span class="t-blue fw-bold"> {{ rank }}</span></span>
                        </div>
                        <div class="f-md text-center w-100 b3 link px-3 py-2 question-panel-btn"
                            (click)="toggleQuestionPanel()">
                            <span class="f-md t-gray">
                                {{ 'Q' + (questionIndex() + 1) + ' of ' + quiz?.questionCount }}
                            </span>
                            <i class="fa-sm fa-solid fa-circle-info"></i>
                        </div>
                    </div>
                    <div class="f-md text-center w-100 px-3 py-2 new-submission" [class.show]="newSubmission">
                        @if(newSubmission){
                        <div class="d-flex justify-content-center gap-1 px-2 f-sm align-items-center">
                            <div class="d-flex gap-2 align-items-center">
                                <div>
                                    <img [src]="newSubmissionPlayer.profilePhoto" class="profile-image">
                                </div>
                                <span class="t-blue">{{ '@' + newSubmissionPlayer.username }}</span>
                            </div>
                            <div class="f-sm">
                                Scored
                                <span class="fw-bold ">
                                    {{ newSubmissionPlayer.score }}
                                </span>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- QuestionPanel -->
<div (click)="toggleQuestionPanel()" [class.active]="questionPanelOpen"
    class="backdrop position-fixed top-0 start-0 d-flex align-items-center justify-content-center w-100 h-100">
    <div (click)="$event.stopPropagation()" [class.active]="questionPanelOpen"
        class="position-fixed top-0 end-0 question-panel h-100 w-75 bg-white b3">

        <!-- Header -->
        <div class="position-relative top-0 end-0 w-100 rounded-bottom-5 b3 border-top-0">
            <div class="py-3 f-2md text-center">
                <span>Question Panel</span>
            </div>
            <div>
                <i (click)="toggleQuestionPanel()"
                    class="fa-lg pe-3 pe-sm-5 translate-middle-y top-50 end-0 position-absolute fa-solid fa-xmark"></i>
            </div>
        </div>

        <!-- Question Filter -->
        <div class="px-3">
            <div class="mt-4 mb-2">
                <div class="position-relative">
                    <div class="d-flex gap-2">
                        <span class="f-xs t-gray">Filter:</span>
                        <div class="link f-xs" (click)="toggleFilterOptions()">
                            <span>
                                {{ filterType === null ? 'All' : (filterType ? 'Correct' :
                                'Incorrect')}}&nbsp;&nbsp;</span>
                            <span class="t-gray" [class.rotated]="showFilterOption"><i
                                    class="fa-solid fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="accordion-dropdown p-2" [class.show]="showFilterOption">
                        <div class="d-flex flex-column gap-1 f-xs">
                            <span class="link p-1" (click)="filterQuestionPanel(null)"
                                [class.t-blue]="filterType === null">All</span>
                            <span class="link p-1" (click)="filterQuestionPanel(true)"
                                [class.difficulty-easy]="filterType">Correct</span>
                            <span class="link p-1" (click)="filterQuestionPanel(false)"
                                [class.difficulty-hard]="filterType === false">Incorrect</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Question-Panel-Question-list -->
        <div class="px-3">
            <div class="">
                <div class="d-flex flex-wrap gap-3 justify-content-center">
                    @if(filterType === null){
                    @for(option of answerStatus; track $index){
                    <button class="icon-wrapper-large rounded-circle" (click)="jumpToQuestion($index)" [ngClass]="{
                                'correct-answer': option,
                                'incorrect-answer':!option,
                                }">
                        {{ $index + 1 }}
                    </button>
                    }
                    }
                    @else {
                    @for(option of questionPanelList; track $index){
                    <button class="icon-wrapper-large rounded-circle" (click)="jumpToQuestion(option - 1)" [ngClass]="{
                            'correct-answer': filterType,
                            'incorrect-answer':!filterType,
                            'current-icon': (option - 1) == questionIndex()
                            }">
                        {{ option }}
                    </button>
                    }
                    }
                </div>
            </div>
        </div>

        <!-- Overview -->
        <div class="position-fixed bottom-0 end-0 w-100 rounded-top-5 b3 border-bottom-0">
            <div class="px-3 my-3">
                <div class="d-flex flex-column gap-2 f-sm t-gray">
                    <div class="d-flex align-items-center">
                        <span class="icon-wrapper-small correct-answer rounded-circle p-2 me-2">
                            {{totalCorrectAnswer}}</span>
                        <span class="">Correct Answers</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="icon-wrapper-small incorrect-answer rounded-circle p-2 me-2">
                            {{totalIncorrectAnswer}}
                        </span>
                        <span class="">Incorrect Answers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}