.accordion-dropdown {
    display: none;
    position: absolute;
    top: 0px;
    right: -85px;
    z-index: 3;
    background-color: white;
    color: #333333;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: max-content;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #E0E0E0;
}

.accordion-dropdown.show {
    display: block;
    opacity: 1;
}

.filter-btn {
    border: 1.3px solid #E0E0E0;
}

.filter-btn:hover {
    border: 1px solid #C0C0C0;
    background-color: #F5F5F5;
}

.filter-btn:focus {
    box-shadow: none;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
}

.default {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.difficulty-box {
    width: max-content;
}

.create-room-comp {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
    padding: 0;
    background-color: #F5F5F5;
}

.create-room-comp.show {
    max-height: 360px;
    padding: 10px;
}

@media(max-width:580px) {
    .iContainer {
        padding: 10px;
        margin-top: 30px !important;
    }
}