<div class="d-flex flex-column gap-2 text-wrap comment-item" [formGroup]="subCommentForm">
    <div class="d-flex">
        <div class="">
            <img [src]="subComment().userId.profilePicture?.link" class="profile-image me-2 link"
                [routerLink]="'/profile/' + subComment().userId.username">
        </div>
        @if(!showInput){
        <div class="w-100">
            <div class="b-secondary px-3 py-2 rounded-4">
                <div class="d-flex justify-content-between">
                    <p class="t-d-gray d-inline mb-0 link f-sm"
                        [routerLink]="'/profile/' + subComment().userId.username">{{
                        subComment().userId.username }}</p>
                    <span class="icon-gray f-xs">{{createdAt}}</span>
                </div>
                <div>
                    <p class="t-gray mb-0 f-sm" [innerHTML]="subComment().text">
                    </p>
                </div>
            </div>
            <div class="d-flex gap-4 align-items-center icon-gray f-xs my-2">
                <div class="d-flex gap-2 align-items-center">
                    <div>
                        <i class="fa-regular fa-thumbs-up me-1 highlight" [class.fa-solid]="subComment().reaction === 'liked'"
                            (click)="user && subComment().userId._id !== user.userId && updateCommentReaction('liked')"></i>
                        <span>{{ subComment().reactionCount.liked }}</span>
                    </div>
                    <div [class.d-none]="!user">
                        <i class="fa-regular fa-thumbs-down highlight" [class.fa-solid]="subComment().reaction === 'disliked'"
                            (click)="user && subComment().userId._id !== user.userId && updateCommentReaction('disliked')"></i>
                    </div>
                </div>
                @if(user){
                <div class="highlight" (click)="toggleReplyBox()">
                    <i class="fa-solid fa-reply me-1"></i>
                    <span>Reply</span>
                </div>
                <div class="highlight more-opt more-parent">
                    <i class="fa-solid fa-ellipsis fa-lg" (click)="toggleMoreOption()"></i>
                    @if(showMoreOptions){
                    <div class="more-child" (mouseleave)="toggleDeleteConfirmation(false)">
                        <div class="border border-secondary-subtle p-1 rounded-2 more-child-parent">
                            @if(subComment().userId._id === user.userId){
                            <div class="d-flex gap-1 align-items-center dropdown-item" (click)="editcomment()"
                                (mouseenter)="toggleDeleteConfirmation(false)">
                                <i class="fa-regular fa-pen-to-square "></i>
                                <span class="">Edit</span>
                            </div>
                            <hr class="my-1">
                            }
                            @if(subComment().userId._id === user.userId){
                            <div class="d-flex gap-1 align-items-center dropdown-item"
                                (mouseenter)="toggleDeleteConfirmation(true)">
                                <i class="fa-solid fa-trash-can"></i>
                                <span class="">Delete</span>
                            </div>
                            <hr class="my-1">
                            }
                            <div class="d-flex gap-1 align-items-center dropdown-item"
                                (mouseenter)="toggleDeleteConfirmation(false)">
                                <i class="fa-solid fa-warning"></i>
                                <span class="">Report</span>
                            </div>
                        </div>
                        <div [class.show]="showDeleteOptions"
                            class="border border-secondary-subtle p-1 rounded-2 more-child-child">
                            <div class="d-flex gap-1 align-items-center dropdown-item">
                                <span class="difficulty-hard" (click)="deleteComment()">Confirm</span>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex gap-1 align-items-center dropdown-item">
                                <span (click)="toggleDeleteConfirmation(false)">Cancel</span>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                }
            </div>
        </div>
        }
        @else {
        <div class="w-100">
            <div class="d-flex gap-2 align-items-center mb-2">
                <div class="new-comment-box">
                    <textarea rows="1" appAutoSize class="t-gray f-sm" placeholder="Type your reply here..."
                        formControlName="editedComment">
                    </textarea>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-end">
                <button type="button" (click)="saveEditedComment()" class="f-sm btn btn-sm p-n-btn">
                    save
                </button>
                <button type="button" (click)="toggleInput()" class="f-sm btn btn-sm cancel-btn">
                    cancel
                </button>
            </div>
        </div>
        }
    </div>
    @if(showReplyInput){
    <div class="ms-md-4 ms-3">
        <div class="d-flex gap-2 mb-2">
            <div>
                <img [src]="user?.profilePicture!.link || '/pngegg.png'" class="profile-image link"
                    [routerLink]="'/profile/' + user?.userId">
            </div>
            <div class="new-comment-box bg-white">
                <textarea rows="1" appAutoSize class="t-gray f-sm bg-white" placeholder="Type your reply here..."
                    formControlName="subComment" autofocus>
                </textarea>
            </div>
        </div>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="createReply()" class="f-sm btn btn-sm p-n-btn">
                reply
            </button>
            <button type="button" (click)="toggleReplyBox()" class="f-sm btn btn-sm cancel-btn">
                cancel
            </button>
        </div>
    </div>
    }
</div>