@if(!loaded()){
<div class="loader-position">
    <div class="loader"></div>
</div>
}
@else {
<app-header [quizData]="quiz!" />
<div class="container my-5 position-relative">

    <!-- Error-Message -->
    <div class="error-prompt position-absolute start-50 translate-middle-x bottom-0 mb-2"
        [ngClass]="{'visible':quizInvalid}">
        <p class="bg-danger-subtle text-danger-emphasis border border-danger p-2 px-3 rounded-5 d-inline text-nowrap">
            Please attempt all questions</p>
    </div>

    <!-- progress-bar -->
    <div class="mx-auto mb-5">
        <div class="position-relative">
            <div class="progress-container rounded-3 b3">
                <div class="position-absolute translate-middle-y top-50 end-0">
                    <span [class.progress-bar]="allAttempted" (click)="toggleQuestionPanel()"
                        class="link f-md d-flex align-items-center justify-content-center border border-dark rounded-circle question-tracker">
                        {{ (questionIndex() + 1) + '/' + quiz?.questionCount }}
                    </span>
                </div>
                <i [class.d-none]="panelOpened" class="fa-regular fa-lg fa-hand-pointer position-absolute"></i>
                <div #progressBar class="progress-bar" style="width: 0%;" role="progressbar"></div>
            </div>
        </div>
    </div>


    <!-- Question-Set -->
    <div class="mb-4">
        <!-- question-box -->
        <div class="mb-3">
            <div>
                <div class="">
                    <p class="f-md mb-0">{{ currentQuestionObject.question }}
                        <span class="t-gray text-nowrap fst-italic f-xs">
                            {{ '(' + currentQuestionObject.point + ' Point)' }}</span>
                    </p>
                    <div class="text-center">
                        @if(currentQuestionObject.questionImage){
                        <img class="question-media-image" [src]="currentQuestionObject.questionImage">
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- option-box -->
        <div>
            <div>
                <div>
                    @for(option of currentQuestionObject.options; track option._id){
                    <div (click)="selectedOption(option._id)"
                        class="option-text b3 link d-flex align-items-center rounded-5 p-2 mb-md-3 mb-2">
                        <i [class.hide]="userSelectedOptions[currentQuestionObject._id] == option._id"
                            class="fa-solid option-number rounded-circle p-2 me-2"
                            [ngClass]="'fa-'+convertIndexToLetter($index)"></i>
                        <span class="f-sm text-start ps-2"
                            [class.t-blue]="userSelectedOptions[currentQuestionObject._id] == option._id">{{
                            option.option
                            }}</span>
                        <i [class.show]="userSelectedOptions[currentQuestionObject._id] == option._id"
                            class="d-none fa-solid ms-auto fa-check text-end option-number rounded-circle p-2 ms-2"></i>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <!-- Question Navigator -->
    <div class="mb-5">
        <div>
            <div class="d-flex gap-2 justify-content-center">
                @if(questionIndex() != 0){
                <span class="f-sm navigator rounded-2 p-2 link text-center" (click)="previousQuestion()">
                    <i class=" me-2 fa-solid fa-arrow-left"></i>
                    Prev
                </span> }
                @if(questionIndex() != (quiz?.questionCount! - 1)){
                <span class="f-sm navigator rounded-2 p-2 link text-center" (click)="nextQuestion()">
                    Next
                    <i class=" ms-2 fa-solid fa-arrow-right"></i>
                </span>
                }
            </div>
        </div>
    </div>


    <!-- Submit Button -->
    <div>
        <div>
            <div class="text-center">
                @if(questionIndex() == (this.quiz?.questionCount! - 1)){
                <button type="button" class="btn rounded-3 option-number submit-btn"
                    (click)="user ? onSubmit() : toggleLoginModal()">
                    <span [class.submitLoader]="submittingQuiz">{{ submittingQuiz ? '' : 'Submit' }}</span>
                </button>
                }
            </div>
        </div>
    </div>
</div>

<!-- QuestionPanel -->
<div (click)="toggleQuestionPanel()" [class.active]="questionPanelOpen"
    class="backdrop position-fixed top-0 start-0 d-flex align-items-center justify-content-center w-100 h-100">
    <div (click)="$event.stopPropagation()" [class.active]="questionPanelOpen"
        class="position-fixed top-0 end-0 question-panel h-100 w-75 bg-white b3">

        <!-- Header -->
        <div class="position-relative top-0 end-0 w-100 rounded-bottom-5 b3 border-top-0">
            <div class="py-3 f-2md text-center">
                <span>Question Panel</span>
            </div>
            <div>
                <i (click)="toggleQuestionPanel()"
                    class="fa-lg pe-3 pe-sm-5 translate-middle-y top-50 end-0 position-absolute fa-solid fa-xmark"></i>
            </div>
        </div>

        <!-- Question Filter -->
        <div class="px-3">
            <div class="mt-4 mb-2">
                <div class="position-relative">
                    <div class="d-flex gap-2">
                        <span class="f-xs t-gray">Filter:</span>
                        <div class="link f-xs" (click)="toggleFilterOptions()">
                            <span>
                                {{ filterName() }}&nbsp;
                            </span>
                            <span class="t-gray" [class.rotated]="showFilterOption"><i
                                    class="fa-solid fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="accordion-dropdown p-2" [class.show]="showFilterOption">
                        <div class="d-flex flex-column gap-1 f-xs">
                            <span class="link p-1" (click)="filterQuestionPanel(-1)"
                                [class.t-blue]="filterType() === -1">All</span>
                            <span class="link p-1" (click)="filterQuestionPanel(0)"
                                [class.t-blue]="filterType() === 0">Not visited</span>
                            <span class="link p-1" (click)="filterQuestionPanel(1)"
                                [class.t-blue]="filterType() === 1">Attempted</span>
                            <span class="link p-1" (click)="filterQuestionPanel(2)"
                                [class.t-blue]="filterType() === 2">Visited but not
                                attempted</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Question-Panel-Question-list -->
        <div class="px-3">
            <div class="">
                <div class="d-flex flex-wrap gap-3 justify-content-center">
                    @if(filterType() === -1){
                    @for(option of questionStatus(); track $index){
                    <button class="icon-wrapper-large rounded-circle" (click)="jumpToQuestion($index)" [ngClass]="{
                                'not-visited-icon': option == 0,
                                'attempted-icon':option == 1,
                                'visited-not-attempted-icon': option == 2,
                                'current-icon': $index == questionIndex()
                                }">
                        {{ $index + 1 }}
                    </button>
                    }
                    }
                    @else {
                    @for(option of questionPanelList(); track $index){
                    <button class="icon-wrapper-large rounded-circle" (click)="jumpToQuestion(option - 1)" [ngClass]="{
                            'not-visited-icon': filterType() == 0,
                            'attempted-icon':filterType() == 1,
                            'visited-not-attempted-icon': filterType() == 2,
                            'current-icon': (option - 1) == questionIndex()
                            }">
                        {{ option }}
                    </button>
                    }
                    }
                </div>
            </div>
        </div>

        <!-- Overview -->
        <div class="position-fixed bottom-0 end-0 w-100 rounded-top-5 b3 border-bottom-0">
            <div class="px-3 my-3">
                <div class="d-flex flex-column gap-2 f-sm t-gray">
                    <div class="d-flex align-items-center">
                        <span class="icon-wrapper-small not-visited-icon rounded-circle p-2 me-2">{{ panel_notVisited()
                            }}</span>
                        <span class="">Not Visited Yet</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="icon-wrapper-small current-icon rounded-circle p-2 me-2"></span>
                        <span class="">Current Question </span>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="icon-wrapper-small attempted-icon rounded-circle p-2 me-2">{{ panel_attempted()
                            }}</span>
                        <span class="">Attempted</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="icon-wrapper-small visited-not-attempted-icon rounded-circle p-2 me-2">{{
                            panel_visitedNotAttempted() }}</span>
                        <span class="">Visited but not attempted</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Login modal -->
<!-- @if(showLoginModal){
<app-login-modal formType="signup" (closeModal)="toggleLoginModal()" (userAvailable)="userRegistered($event)" />
} -->
}