@if(!loaded()) {
<div class="loader-position">
    <div class="loader"></div>
</div>
} @else {
<div class="iContainer mx-auto" id="div1">
    <div class="box-1">
        <div class="mb-4">
            <div class="p-xl-5 p-lg-4 p-md-5 card-holder">
                <div>
                    <h2 class="quiz-title f-lg">{{ quiz?.title }}</h2>
                </div>
                <div>
                    <p class="description f-sm">{{ quiz?.description }}</p>
                </div>
                <div class="">
                    <div class="f-sm">
                        <span class="description">Creator:&nbsp;</span>
                        <span class="t-blue link" [routerLink]="'/profile/' + quiz?.creatorId?.username">
                            &#64;{{ quiz?.creatorId?.username }}
                        </span>
                    </div>
                    <hr class="my-2" />
                    <div class="f-sm">
                        <span class="description">Difficulty:&nbsp;</span>
                        <span [ngClass]="{
                    'difficulty-easy': quiz?.difficulty === 'easy',
                    'difficulty-medium': quiz?.difficulty === 'medium',
                    'difficulty-hard': quiz?.difficulty === 'hard'
                  }">
                            {{ quiz?.difficulty | titlecase }}
                        </span>
                    </div>
                    <hr class="my-2" />
                    <div class="f-sm">
                        <span class="description">Number of questions:&nbsp;</span>
                        <span>{{ quiz?.questionCount }}</span>
                    </div>
                    <hr class="my-2" />
                    <div class="f-sm">
                        <span class="description">Total points:&nbsp;</span>
                        <span>{{ quiz?.totalPoints }}</span>
                    </div>
                </div>
                <!-- @if(quiz?.quizStatus === "pending") {
                <p class="text-danger mt-2 f-xs">*This quiz is taken down!</p>
                } -->
                @if(user && user!.userId === quiz?.creatorId!._id && quiz?.quizStatus !== "accepted" ) {
                <p class="text-danger mt-2 f-xs">*Your quiz is not approved by admin yet! Players may not be able to
                    attempt it.</p>
                }
                <div class="mt-md-5 mt-3">
                    @if(user && (user.role === 'creator' && (user!.userId === quiz?.creatorId!._id) || user.role ===
                    'admin')) {
                    <div class="d-flex gap-3">
                        <button class="w-100 btn p-n-btn f-sm" (click)="redirectUser()">
                            View
                        </button>
                        <button class="w-100 btn p-n-btn f-sm" [routerLink]="'/creator/quiz/' + quizId + '/edit'">
                            Edit
                        </button>
                        <!-- <button class="w-100 btn f-sm" (click)="enDisableQuiz()" [ngClass]="{
                    'difficulty-easy-bg' : !quiz?.isEnabled,
                    'difficulty-hard-bg' : quiz?.isEnabled,
                  }">
                            {{ quiz?.isEnabled ? "Disable" : "Enable" }}
                        </button> -->
                    </div>
                    } @else {
                    @if(quiz?.resultId) {
                    <button class="w-100 btn p-n-btn f-sm" (click)="startQuiz()">
                        Result
                    </button>
                    } @else if(quiz?.quizStatus === "accepted") {
                    @if(user?.role === 'player' || !user) {
                    <button class="w-100 btn p-n-btn f-sm" (click)="startQuiz()">
                        {{
                        user
                        ? "Start"
                        : "Ready? Sign Up to Begin!"
                        }}
                    </button>
                    } @else {
                    <p class="text-danger mt-2 f-xs">
                        *Create a player account to attempt this quiz!
                    </p>
                    }
                    }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="pb-5 card-holder user-review">
            <div class="pt-xl-5 pt-lg-4 px-xl-5 px-lg-4">
                <div class="stats t-gray f-xs">
                    <div>
                        <p>
                            Submitted:&nbsp;
                            <span class="t-blue">{{ quiz?.meta?.attempted }}</span>
                        </p>
                    </div>
                    <span class="t-l-gray partition">|</span>
                    <div>
                        <p>
                            Passed:&nbsp;
                            <span class="t-blue">{{ quiz?.meta?.passed }}</span>
                        </p>
                    </div>
                    <span class="t-l-gray partition">|</span>
                    <div>
                        <p>
                            Passing Rate:&nbsp;
                            <span class="t-blue">{{ passingRate }}</span>
                        </p>
                    </div>
                    <span class="t-l-gray extra-partition">|</span>
                    <div class="d-flex gap-1 t-gray like-dislike">
                        @if(user && user.role !== 'creator') {
                        <div class="cancel-btn rounded-3">
                            <button class="btn t-gray f-sm" (click)="updateQuizReaction('liked')">
                                <i class="fa-regular fa-thumbs-up me-2"
                                    [class.fa-solid]="quiz?.reaction === 'liked'"></i>
                                <span>{{ quiz?.meta?.liked ?? 0 }}</span>
                            </button>
                        </div>
                        <div class="cancel-btn rounded-3">
                            <button class="btn t-gray f-sm" (click)="updateQuizReaction('disliked')">
                                <i class="fa-regular fa-thumbs-down"
                                    [class.fa-solid]="quiz?.reaction === 'disliked'"></i>
                            </button>
                        </div>
                        } @else {
                        <div class="d-flex f-sm align-content-center justify-content-center">
                            <i class="fa-regular fa-thumbs-up me-2 pt-1 fa-solid"></i>
                            <span class="">{{ quiz?.meta?.liked }}</span>
                        </div>
                        @if(user && user.role === 'creator' && user!.userId === quiz?.creatorId!._id) {
                        <div class="ms-3 d-flex f-sm align-content-center justify-content-center">
                            <i class="fa-regular fa-thumbs-down me-2 pt-1 fa-solid"></i>
                            <span class="">{{ quiz?.meta?.disliked ?? 0 }}</span>
                        </div>
                        }
                        }
                    </div>
                </div>
                <hr />
            </div>
            <div class="px-xl-5 px-lg-4">
                <p class="f-3md t-gray">Discuss</p>
                <div class="new-comment-box" [formGroup]="discussForm">
                    @if(user) {
                    <textarea #topOfComments appAutoSize class="t-gray f-sm" placeholder="Type your comment here..."
                        formControlName="comment"></textarea>
                    <div class="d-flex gap-2 justify-content-end mt-3">
                        <button type="button" (click)="createComment()" class="btn p-n-btn f-sm">
                            <i class="me-1 fa-solid fa-arrow-up-from-bracket"></i>
                            Post
                        </button>
                    </div>
                    } @else {
                    <p class="f-xs t-gray fst-italic">
                        <span class="t-blue link" routerLink="/login">Login</span>
                        now to share your views and learn more from the community.
                    </p>
                    }
                </div>
                <div class="mt-5">
                    @if(quiz?.comments!.length > 0) {
                    <div class="mb-3 position-relative">
                        <div class="d-flex gap-2">
                            <span class="f-xs t-gray">Sort by:</span>
                            <div class="link f-xs" (click)="$event.stopPropagation()" (click)="toggleSortingOptions()">
                                <span>
                                    {{ sortOrder == -1 ? "New first" : "Old first" }}&nbsp;
                                </span>
                                <span class="t-gray" [class.rotated]="showSortingOption">
                                    <i class="fa-solid fa-angle-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="accordion-dropdown p-2" [class.show]="showSortingOption">
                            <div class="d-flex flex-column gap-1 f-xs">
                                <span class="link p-1" (click)="!activeSort[-1] && fetchComments(-1)"
                                    [class.t-blue]="activeSort[-1]">
                                    New first
                                </span>
                                <span class="link p-1" (click)="!activeSort[1] && fetchComments(1)"
                                    [class.t-blue]="activeSort[1]">
                                    Old first
                                </span>
                            </div>
                        </div>
                    </div>
                    }
                    @if(!user) {
                    <p class="f-xs">
                        An account is needed to interact with the community. Please click
                        <span routerLink="/login" class="t-blue link">here</span>
                        to create an account.
                    </p>
                    }
                    @for(comment of quiz?.comments; track comment._id) {
                    <div [class.mb-4]="!$last">
                        <app-comment-box (deleted)="removeComment($event)" [comment]="comment" [quizId]="quizId" />
                    </div>
                    } @empty {
                    <p class="t-gray f-sm">
                        No comments yet... <br />
                        Let's Start a Discussion!
                    </p>
                    }
                </div>
                <app-loading-spinner [isFetching]="fetchingComments" />
                <div id="scrollAnchor"></div>
            </div>
        </div>
    </div>
</div>
}